.mat-input-element[type=date], .mat-input-element[type=datetime], .mat-input-element[type=datetime-local], .mat-input-element[type=month], .mat-input-element[type=week], .mat-input-element[type=time] {
  line-height: 1;
  font-size: 21px;
}
.example-half-width {
  width: 48%;
  margin-right: 2%;
}
.example-full-width{
  width:100%
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
      margin: 0 10px;
}

/* ------------------- file css ---------------   */

/* .file-upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
} */

/* .form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
} */

.file-name {
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  /* .form-field {
    flex-direction: column;
    align-items: flex-start;
  } */

  .file-name {
    margin-top: 10px;
    margin-left: 0;
  }
}
